<div class="card shadow border-0 mb-7">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <h2 class="mb-0">My Leave Details</h2>
            <button type="button" class="btn btn-sm btn-square btn-neutral ms-2">
                <i class="bi bi-file-earmark-excel-fill"></i>
            </button>
        </div>
        <div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Leave From</th>
                    <th scope="col">Leave Till</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Leave Category</th>
                    <th scope="col">Leave Approval Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover me-1"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Edit Leave Details">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Leave Request">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
