<div class="container my-5">
    <form class="needs-validation g-3" novalidate>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-group my-3">
                    <label for="leaveFrom" class="form-label">First Name</label>
                    <div class="input-group">
                        <input class="form-control me-2" type="text" name="issueTitle" id="issueTitle" required />
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide leaveFrom date and time.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group my-3">
                    <label for="issueDescription" class="form-label">Last Name</label>
                    <div class="input-group">
                        <input class="form-control me-2" type="text" name="issueTitle" id="issueTitle" required />
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide leaveTill date and time.
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-group my-3">
                    <label for="leaveFrom" class="form-label">Email</label>
                    <div class="input-group">
                        <input class="form-control me-2" type="email" name="issueTitle" id="issueTitle" required />
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide leaveFrom date and time.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group my-3">
                    <label for="issueDescription" class="form-label">Password</label>
                    <div class="input-group">
                        <input class="form-control me-2" type="password" name="issueTitle" id="issueTitle" required />
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide leaveTill date and time.
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-group my-3">
                    <label for="leaveFrom" class="form-label">Department</label>
                    <div class="input-group">
                        <select name="leaveType" id="leaveType" class="form-select" required>
                            <option selected disabled value="">Select Leave Type</option>
                            <option value="1">Half Day</option>
                            <option value="2">Full Day</option>
                        </select>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide leaveFrom date and time.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group my-3">
                    <label for="issueDescription" class="form-label">Role</label>
                    <div class="input-group">
                        <select name="leaveType" id="leaveType" class="form-select" required>
                            <option selected disabled value="">Select Leave Type</option>
                            <option value="1">Half Day</option>
                            <option value="2">Full Day</option>
                        </select>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide leaveTill date and time.
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="mt-3">
            <button type="submit" class="btn btn-custom btn-sm my-2 px-5 py-3">Add Employee</button>
        </div>
    </form>
</div>