<!-- Card stats -->
<div class="row g-6 mb-6">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Employees</span>
                        <span class="h3 font-bold mb-0">{{totalEmployeeCount}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                            <i class="bi bi-layers"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Leave Requests</span>
                        <span class="h3 font-bold mb-0">{{allLeavesCount}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                            <i class="bi bi-lightning-charge"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Approved Leaves</span>
                        <span class="h3 font-bold mb-0">{{approvedLeavesCount}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-success text-white text-lg rounded-circle">
                            <i class="bi bi-journal-check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Rejected Leaves</span>
                        <span class="h3 font-bold mb-0">{{rejectedLeavesCount}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white text-lg rounded-circle">
                            <i class="bi bi-journal-x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Issues Reported</span>
                        <span class="h3 font-bold mb-0">{{totalIssuesCount}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                            <i class="bi bi-patch-exclamation"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>